html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url("images/spirationDark.png");
}

.fontA {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

}

.fontB {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.greyLine {
    border-bottom: 3px solid #cccccc;
}
#navbar {
    margin-bottom:20px;
    padding: 0;
}
#banner {
    padding: 1em;
}

#collapse {
    margin-right: 10%;
}
#profilePic {
    width:100%;
    height:auto;
}
.inline {
    display:inline;
    margin:3px;
}
.socialContainer {
    display:inline;
    list-style-type: none;    
}
.socialMedia {
    display:inline;
    width: 50px;
    height: 50px;
    margin:5px;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer, .push {
    height: 50px;
}
.footer {
    width:100%;
    background: #666666;
    border-top:6px solid #4aaaa5;
    text-align: center;
    color: white;
}
.placeholder {
    max-width:100%;
    height:auto;
}
.center {
    text-align: center;
}

aside, #aboutMe, #contactMe{
    padding: 10px;
    margin: 10px;
}

#portfolio {
    margin:20px;
    padding: 10px;
}

.placeHolderText {
    background-color: #4aaaa5;
    color: white;
    padding: 15px;
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
}